<aside class="sidebar">
  <div class="logo">Admin Panel</div>

  <nav>
    <!--<button class="nav-item active">Dashboard</button>-->
    <a routerLink="/therapist" class="my-custom-button" routerLinkActive="my-custom-button-active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
    <a routerLink="/therapist/add-timeslot" class="my-custom-button" routerLinkActive="my-custom-button-active" [routerLinkActiveOptions]="{ exact: true }">Add timeslots</a>
    <a routerLink="/" class="my-custom-button">Clients</a>
    <a routerLink="/" class="my-custom-button">Invoices</a>
    <a routerLink="/" class="my-custom-button">Reports</a>
    <a routerLink="/" class="my-custom-button">Settings</a>
<!--    <button class="nav-item">Appointments</button>
    <button class="nav-item">Clients</button>
    <button class="nav-item">Invoices</button>
    <button class="nav-item">Reports</button>
    <button class="nav-item">Settings</button>-->
  </nav>
</aside>
