<div class="wrapper">
  <div class="container">
    <button class="headbtn1" id="userbtn" (click)="handleUserButtonClick()">user</button>
    <button class="headbtn2" id="doctorbtn" (click)="handleDoctorButtonClick()">doctor</button>
    <button class="headbtn3" id="adminbtn" (click)="handleAdminButtonClick()">admin</button>

    <div class="user-login-form" *ngIf="showUserForm">
      <h2 class="textual">User Login</h2>
      <form #userloginform="ngForm" (ngSubmit)="loginUser()">
        <small class="text-danger"><b>{{ msg }}</b></small>
        <div class="form-group">
          <label for="email">User Email address: <b class="text-danger">*</b></label>
          <input #email="ngModel" [(ngModel)]="user.email" [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email"
                 pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" placeholder="enter email"
                 required
                 type="email">
          <!--<small class="text-danger" [class.d-none]="email.valid || email.untouched"><b>required field</b></small>-->
          <div *ngIf="email.errors && email.invalid && email.touched">
            <small *ngIf="email.errors.required" class="text-danger"><b>required field</b></small>
            <small *ngIf="email.errors.pattern" class="text-danger"><b>Invalid email Id</b></small>
          </div>
        </div>

        <div class="form-group">
          <label for="pwd" style="margin-top: 5px;">User Password: <b class="text-danger">*</b></label>
          <input #password="ngModel" [(ngModel)]="user.password" [class.is-invalid]="password.invalid && password.touched" class="form-control"
                 name="pwd" placeholder="enter password"
                 required
                 type="password">
          <div *ngIf="password.errors && password.invalid && password.touched">
            <small *ngIf="password.errors.required" class="text-danger"><b>required field</b></small>
          </div>
          <small style="color: gray; font-size: 10px;">atleast one uppercase, numeric digit, lowercase, special
            character, length of 6-20</small>
        </div>

        <div class="checkbox" style="margin-top: 5px;">
          <small style="color: gray;"><input name="remember" type="checkbox"> Remember me</small>
          <small style="color: navy; margin-left: 42%; cursor: pointer;">forgot password?</small>
        </div>
        <button [disabled]="userloginform.form.invalid" class="btn loginbtn" type="submit">Login</button>
      </form>
      <div class="sign-up" style=" text-align: center; margin-top: 10px;">Don't have an Account? <small
        [routerLink]="['/registration']" style="color: navy; text-align: center; cursor: pointer;"><b>Create
        One</b></small></div>
      <hr>
      <p class="text-center mt-3"><b> or Login with </b></p>
      <div class="text-center">
        <i class="fa fa-google  mx-3 fa-2x"></i>
        <i class="fa fa-linkedin mx-3 fa-2x"></i>
        <i class="fa fa-twitter  mx-3 fa-2x"></i>
        <i class="fa fa-windows  mx-3 fa-2x"></i>
        <i class="fa fa-github  mx-3 fa-2x"></i>
      </div>
    </div>

    <div class="doctor-login-form" *ngIf="showDoctorForm">
      <h2 class="textual">Doctor Login</h2>
      <form #doctorloginform="ngForm" (ngSubmit)="loginDoctor()">
        <small class="text-danger"><b>{{ msg }}</b></small>
        <div class="form-group">
          <label for="email">Doctor Email address: <b class="text-danger">*</b></label>
          <input #doctoremail="ngModel" [(ngModel)]="doctor.email" [class.is-invalid]="doctoremail.invalid && doctoremail.touched" class="form-control"
                 name="doctoremail" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" placeholder="enter email"
                 required
                 type="email">
          <!--<small class="text-danger" [class.d-none]="doctoremail.valid || doctoremail.untouched"><b>required field</b></small>-->
          <div *ngIf="doctoremail.errors && doctoremail.invalid && doctoremail.touched">
            <small *ngIf="doctoremail.errors.required" class="text-danger"><b>required field</b></small>
            <small *ngIf="doctoremail.errors.pattern" class="text-danger"><b>Invalid email Id</b></small>
          </div>
        </div>

        <div class="form-group">
          <label for="pwd" style="margin-top: 5px;">Doctor Password: <b class="text-danger">*</b></label>
          <input #doctorpassword="ngModel" [(ngModel)]="doctor.password" [class.is-invalid]="doctorpassword.invalid && doctorpassword.touched" class="form-control"
                 name="pwd" placeholder="enter password"
                 required
                 type="password">
          <div *ngIf="doctorpassword.errors && doctorpassword.invalid && doctorpassword.touched">
            <small *ngIf="doctorpassword.errors.required" class="text-danger"><b>required field</b></small>
          </div>
          <small style="color: gray; font-size: 10px;">atleast one uppercase, numeric digit, lowercase, special
            character, length of 6-20</small>
        </div>

        <div class="checkbox" style="margin-top: 5px;">
          <small style="color: gray;"><input name="remember" type="checkbox"> Remember me</small>
          <small style="color: navy; margin-left: 42%; cursor: pointer;">forgot password?</small>
        </div>
        <button [disabled]="doctorloginform.form.invalid" class="btn loginbtn" type="submit">Login</button>
      </form>
      <div class="sign-up" style=" text-align: center; margin-top: 10px;">Don't have an Account? <small
        [routerLink]="['/registration']" style="color: navy; text-align: center; cursor: pointer;"><b>Create
        One</b></small></div>
      <hr>
      <p class="text-center mt-3"><b> or Login with </b></p>
      <div class="text-center">
        <i class="fa fa-google  mx-3 fa-2x"></i>
        <i class="fa fa-linkedin mx-3 fa-2x"></i>
        <i class="fa fa-twitter  mx-3 fa-2x"></i>
        <i class="fa fa-windows  mx-3 fa-2x"></i>
        <i class="fa fa-github  mx-3 fa-2x"></i>
      </div>
    </div>

    <div class="admin-login-form" *ngIf="showAdminForm">
      <h2 class="textual">Admin Login</h2>
      <form #adminloginform="ngForm" (ngSubmit)="adminLogin()">
        <small class="text-danger"><b>{{ msg }}</b></small>
        <div class="form-group">
          <label for="email"> Admin Email address: <b class="text-danger">*</b></label>
          <input #adminemail="ngModel" [(ngModel)]="adminEmail" [class.is-invalid]="adminemail.invalid && adminemail.touched" class="form-control" name="email"
                 pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" placeholder="enter admin email"
                 required
                 type="email">
          <!--<small class="text-danger" [class.d-none]="email.valid || email.untouched"><b>required field</b></small>-->
          <div *ngIf="adminemail.errors && adminemail.invalid && adminemail.touched">
            <small *ngIf="adminemail.errors.required" class="text-danger"><b>required field</b></small>
            <small *ngIf="adminemail.errors.pattern" class="text-danger"><b>Invalid email Id</b></small>
          </div>
        </div>

        <div class="form-group">
          <label for="pwd" style="margin-top: 5px;">Admin Password: <b class="text-danger">*</b></label>
          <input #adminpassword="ngModel" [(ngModel)]="adminPassword" [class.is-invalid]="adminpassword.invalid && adminpassword.touched" class="form-control"
                 name="pwd" placeholder="enter admin password"
                 required
                 type="password">
          <div *ngIf="adminpassword.errors && adminpassword.invalid && adminpassword.touched">
            <small *ngIf="adminpassword.errors.required" class="text-danger"><b>required field</b></small>
          </div>
          <small style="color: gray; font-size: 10px;">Only the admin knows his correct email address & password</small>
        </div>

        <small style="color: navy; margin-left: 69%; cursor: pointer;">forgot password?</small>
        <button [disabled]="adminloginform.form.invalid" class="btn loginbtn" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
