<app-header></app-header>

<div class="heading-text"><b>Doctors List</b></div>
<small class="subheading-text"><b>(only approved doctors are suggested by the management)</b></small>
<div class="row">
  <div *ngFor="let doctor of doctors | async" class="col-4 card" id="bloodCards">
    <div class="img-block">
      <div class="circle">
        <img *ngIf="doctor.gender === 'Male' || doctor.gender === 'male'" [src]="'assets/img/maledoctor.png'"
             class="bloodimg" height="100" width="100">
        <img *ngIf="doctor.gender === 'Female' || doctor.gender === 'female'" [src]="'assets/img/femaledoctor.png'"
             class="bloodimg" height="120" width="100">
      </div>
    </div>
    <div class="card-block">
      <div class="text"><b style="color: maroon;"> {{ doctor.doctorname }} </b></div>
      <div class="text"><b style="color: maroon;"> {{ doctor.email }} </b></div>
      <div class="text"><b style="color: maroon;"> {{ doctor.experience }} yrs of experience </b></div>
      <div class="text"><b style="color: maroon;"> {{ doctor.specialization }} </b></div>
      <div class="text"><b style="color: maroon;"> {{ doctor.gender }} </b></div>
      <div class="text"><b style="color: maroon;"> {{ doctor.mobile }} </b></div>
    </div>
    <div *ngIf="doctor.status === 'accept'" class="status-btn" style="border: none;"><b
      style="font-style: italic; font-weight: bolder;">Approved Doctor</b></div>
    <div *ngIf="doctor.status === 'false'" class="status-btn1" style="border: none;"><b
      style="font-style: italic; font-weight: bolder;">Approval Pending</b></div>
    <div *ngIf="doctor.status === 'reject'" class="status-btn2" style="border: none;"><b
      style="font-style: italic; font-weight: bolder;">Not Approved</b></div>
  </div>
</div>
<br><br><br>
<app-footer></app-footer>
