<!--<h2>{{title() | translate }}</h2>-->

<div class="page-layout">
  <left-nav></left-nav>
<!--  <aside class="sidebar">-->
<!--    <div class="logo">Admin Panel</div>-->

<!--    <nav>-->
<!--      <button class="nav-item active">Dashboard</button>-->
<!--      <button class="nav-item">Appointments</button>-->
<!--      <button class="nav-item">Clients</button>-->
<!--      <button class="nav-item">Invoices</button>-->
<!--      <button class="nav-item">Reports</button>-->
<!--      <button class="nav-item">Settings</button>-->
<!--    </nav>-->
<!--  </aside>-->

  <div class="content">
<!--    <header class="header">-->
<!--      <h2>Dashboard</h2>-->
<!--      <p>Overview of business activity and operations</p>-->
<!--    </header>-->

    <main class="main-content">
<!--      <section class="stats-grid">-->
<!--        <div class="card" *ngFor="let stat of stats">-->
<!--          <p>{{ stat.label }}</p>-->
<!--          <h3>{{ stat.value }}</h3>-->
<!--          <p>{{ stat.change }}</p>-->
<!--        </div>-->
<!--      </section>-->

<!--      <section class="content-grid">-->
<!--        <div class="table-card">-->
<!--          <h3>Recent Appointments</h3>-->

<!--          <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th>ID</th>-->
<!--              <th>Client</th>-->
<!--              <th>Service</th>-->
<!--              <th>Status</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let order of recentOrders">-->
<!--              <td>{{ order.id }}</td>-->
<!--              <td>{{ order.customer }}</td>-->
<!--              <td>{{ order.service }}</td>-->
<!--              <td>-->
<!--                <span class="status-pill">{{ order.status }}</span>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->

<!--        <div class="table-card">-->
<!--          <h3>Quick Actions</h3>-->

<!--          <div class="quick-actions">-->
<!--            <button *ngFor="let action of quickActions">-->
<!--              {{ action }}-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
<!--            <section class="content-grid">
              <div class="table-card">
                <h3>Recent Appointments</h3>
                <div class="card" *ngFor="let stat of stats">
                  <p>{{ stat.label }}</p>
                  <h3>{{ stat.value }}</h3>
                  <p>{{ stat.change }}</p>
                </div>
              </div>
            </section>-->

      <router-outlet></router-outlet>
    </main>
  </div>
</div>
