<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img alt="" src="https://image.ibb.co/n7oTvU/logo_white.png"/>
      <h3 style="font-family: 'Merienda One', cursive;">Create Your New Profile Here</h3>
      <br>
      <p style="font-family: 'Staatliches', cursive; letter-spacing: 1.5px;">Already Have an Account? </p>
      <button [routerLink]="['/login']" class="loginbtn" name="loginbtn">Login here</button>
      <br/>
    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a aria-controls="home" aria-selected="true" class="nav-link nav1" data-target="#home" data-toggle="tab" id="home-tab"
             role="tab" [ngClass]="{'highlight1': showUserForm}" (click)="handleUserTabClicked()">
            User
          </a>
        </li>
        <li class="nav-item">
          <a aria-controls="profile" aria-selected="false" class="nav-link nav2" data-toggle="tab" id="profile-tab"
             role="tab" [ngClass]="{'highlight2': showDoctorForm}" (click)="handleDoctorTabClicked()">
            Doctor
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel" *ngIf="showUserForm">
          <h3 class="register-heading">User Registration</h3>
          <small class="text-danger"><b>{{ msg }}</b></small>
          <form #userform="ngForm" (ngSubmit)="registerUser()">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input #username="ngModel" [(ngModel)]="user.username" [class.is-invalid]="username.invalid && username.touched" class="form-control"
                         name="username" placeholder="user name *"
                         required
                         type="text">
                  <small [class.d-none]="username.valid || username.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #usergender="ngModel" [(ngModel)]="user.gender" [class.is-invalid]="usergender.invalid && usergender.touched" class="form-control"
                         name="usergender" placeholder="gender *"
                         required
                         type="text">
                  <small [class.d-none]="usergender.valid || usergender.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #userage="ngModel" [(ngModel)]="user.age" [class.is-invalid]="userage.invalid && userage.touched" class="form-control"
                         name="userage" placeholder="your age *"
                         required
                         type="number">
                  <small [class.d-none]="userage.valid || userage.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #userpassword="ngModel" [(ngModel)]="user.password" [class.is-invalid]="userpassword.invalid && userpassword.touched" class="form-control"
                         name="pwd" placeholder="Password *"
                         required
                         type="password">
                  <div *ngIf="userpassword.errors && userpassword.invalid && userpassword.touched"
                       style="margin-top: -4%; margin-bottom: 3%;">
                    <small *ngIf="userpassword.errors.required" class="text-danger"><b>required field</b></small>
                  </div>
                  <small style="color: gray; font-size: 10px;">atleast one uppercase, numeric digit, lowercase, special
                    character, length of 6-20</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input #useremail="ngModel" [(ngModel)]="user.email" [class.is-invalid]="useremail.invalid && useremail.touched" class="form-control"
                         name="useremail" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" placeholder="email address *"
                         required
                         type="email">
                  <div *ngIf="useremail.errors && (useremail.invalid && useremail.touched)"
                       style="margin-top: -4%; margin-bottom: 3%;">
                    <small *ngIf="useremail.errors.required" class="text-danger"><b>required field</b></small>
                    <small *ngIf="useremail.errors.pattern" class="text-danger"><b>Invalid email Id</b></small>
                  </div>
                </div>
                <div class="form-group">
                  <input #usermobile="ngModel" [(ngModel)]="user.mobile" [class.is-invalid]="usermobile.invalid && usermobile.touched" class="form-control" maxlength="10"
                         minlength="10" name="usermobile" placeholder="mobile *"
                         required
                         type="tel">
                  <small [class.d-none]="usermobile.valid || usermobile.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #useraddress="ngModel" [(ngModel)]="user.address" [class.is-invalid]="useraddress.invalid && useraddress.touched" class="form-control"
                         name="useraddress" placeholder="address *"
                         required
                         type="text">
                  <small [class.d-none]="useraddress.valid || useraddress.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #userconfirmPassword="ngModel" [(ngModel)]="user.password" [class.is-invalid]="userconfirmPassword.invalid && userconfirmPassword.touched" class="form-control"
                         name="ConfirmPassword" placeholder="Confirm Password *"
                         required
                         type="password">
                  <!--<div style="margin-top: -4%; margin-bottom: 3%;" *ngIf="userconfirmPassword.valid || userconfirmPassword.touched">
                      <small class="text-danger" *ngIf="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.touched"><b>password not matched</b></small>
                  </div>-->
                  <small [class.d-none]="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>password
                    not matched</b></small>
                </div>
              </div>
            </div>
            <div class="checkbox" style="margin-top: -8%; margin-left: 11%;">
              <small style="color: gray;"><input class="checkbox" name="remember" required type="checkbox"> I agree to
                all Terms & Conditions</small>
            </div>
            <button [disabled]="userform.form.invalid" class="btnRegister" type="submit">Register</button>
          </form>
        </div>

        <div aria-labelledby="home-tab" class="tab-pane fade show active" id="profile" role="tabpanel" *ngIf="showDoctorForm">
          <h3 class="register-heading">Doctor Registration</h3>
          <small class="text-danger"><b>{{ msg }}</b></small>
          <form #doctorform="ngForm" (ngSubmit)="registerDoctor()">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input #doctorname="ngModel" [(ngModel)]="doctor.doctorname" [class.is-invalid]="doctorname.invalid && doctorname.touched" class="form-control"
                         name="doctorname" placeholder="Doctor Name *"
                         required
                         type="text">
                  <small [class.d-none]="doctorname.valid || doctorname.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #doctoremail="ngModel" [(ngModel)]="doctor.email" [class.is-invalid]="doctoremail.invalid && doctoremail.touched" class="form-control"
                         name="doctoremail" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" placeholder="email address *"
                         required
                         type="email">
                  <div *ngIf="doctoremail.errors && (doctoremail.invalid && doctoremail.touched)"
                       style="margin-top: -4%; margin-bottom: 3%;">
                    <small *ngIf="doctoremail.errors.required" class="text-danger"><b>required field</b></small>
                    <small *ngIf="doctoremail.errors.pattern" class="text-danger"><b>Invalid email Id</b></small>
                  </div>
                </div>
                <div class="form-group">
                  <input #doctorgender="ngModel" [(ngModel)]="doctor.gender" [class.is-invalid]="doctorgender.invalid && doctorgender.touched" class="form-control"
                         name="doctorgender" placeholder="gender *"
                         required
                         type="text">
                  <small [class.d-none]="doctorgender.valid || doctorgender.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #doctormobile="ngModel" [(ngModel)]="doctor.mobile" [class.is-invalid]="doctormobile.invalid && doctormobile.touched" class="form-control" maxlength="10"
                         minlength="10" name="doctormobile" placeholder="mobile *"
                         required
                         type="tel">
                  <small [class.d-none]="doctormobile.valid || doctormobile.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #doctorpassword="ngModel" [(ngModel)]="doctor.password" [class.is-invalid]="doctorpassword.invalid && doctorpassword.touched" class="form-control"
                         name="pwd" placeholder="password *"
                         required
                         type="password">
                  <div *ngIf="doctorpassword.errors && doctorpassword.invalid && doctorpassword.touched"
                       style="margin-top: -4%; margin-bottom: 3%;">
                    <small *ngIf="doctorpassword.errors.required" class="text-danger"><b>required field</b></small>
                  </div>
                  <small style="color: gray; font-size: 10px;">atleast one uppercase, numeric digit, lowercase, special
                    character, length of 6-20</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input #specialization="ngModel" [(ngModel)]="doctor.specialization" [class.is-invalid]="specialization.invalid && specialization.touched" class="form-control"
                         name="specialization" placeholder="specialization *"
                         required
                         type="text">
                  <small [class.d-none]="specialization.valid || specialization.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #experience="ngModel" [(ngModel)]="doctor.experience" [class.is-invalid]="experience.invalid && experience.touched" class="form-control"
                         name="experience" placeholder="year of experience *"
                         required
                         type="number">
                  <small [class.d-none]="experience.valid || experience.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #previoushospital="ngModel" [(ngModel)]="doctor.previoushospital" [class.is-invalid]="previoushospital.invalid && previoushospital.touched"
                         class="form-control" name="previoushospital" placeholder="previous working hospital *"
                         required
                         type="text">
                  <small [class.d-none]="previoushospital.valid || previoushospital.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required
                    field</b></small>
                </div>
                <div class="form-group">
                  <input #doctoraddress="ngModel" [(ngModel)]="doctor.address" [class.is-invalid]="doctoraddress.invalid && doctoraddress.touched" class="form-control"
                         name="doctoraddress" placeholder="address *"
                         required
                         type="text">
                  <small [class.d-none]="doctoraddress.valid || doctoraddress.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input #doctorconfirmPassword="ngModel" [(ngModel)]="doctor.password" [class.is-invalid]="doctorconfirmPassword.invalid && doctorconfirmPassword.touched" class="form-control"
                         name="ConfirmPassword" placeholder="confirm password *"
                         required
                         type="password">
                  <small [class.d-none]="(doctorconfirmPassword.value == doctorpassword.value) || doctorconfirmPassword.untouched" class="text-danger"
                         style="margin-top: -4%; margin-bottom: 3%;"><b>password
                    not matched</b></small>
                </div>
              </div>
            </div>
            <div class="checkbox" style="margin-top: -8%; margin-left: 11%;">
              <small style="color: gray;"><input class="checkbox" name="remember" required type="checkbox"> I agree to
                all Terms & Conditions</small>
            </div>
            <button [disabled]="doctorform.form.invalid" class="btnRegister" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
