<app-header></app-header>

<div class="heading"><h1>Your Prescription</h1></div>
<div class="message" id="messagecard" *ngIf="showMessageCard">
  <form #tempform="ngForm" (ngSubmit)="searchPrescription()">
    <div class="form-group">
      <label for="patientname">Patient Name : <b class="text-danger">*</b></label>
      <input #patientname="ngModel" [(ngModel)]="this.name" [class.is-invalid]="patientname.invalid && patientname.touched" class="form-control"
             name="patientname" placeholder="enter patient name"
             required
             type="text">
      <small [class.d-none]="patientname.valid || patientname.untouched" class="text-danger"><b>required
        field</b></small>
    </div>
    <button [disabled]="tempform.form.invalid" class="btn registerbtn" style="margin-top: 15px;" type="submit"><i
      class="fa fa-check"></i>&nbsp; search Prescription
    </button>
  </form>
</div>
<div *ngif="showPrescriptions">
  <div *ngFor="let patient of prescriptionlist | async" id="prescriptions" [ngClass]="{'more_top_spacing': printClicked}">
    <button (click)="handlePrintClicked()" id="printbtn" style="background-color: rgb(13, 53, 80); padding: 0.5% 3% 0.5% 3%; color: white; margin-left: 85%; border: none; border-radius: 15px;" *ngIf="!printClicked">
      <i class="fa fa-print"></i> &nbsp;Print
    </button>
    <div class="prescription-card" style="margin-bottom: 6%; margin-top: -2.5%;"><br>
      <div class="header-flag">
        <div class="topname" style="margin-left: 5%;"><h3> Smart Healthcare System</h3></div>
        <div class="topname" style="margin-left: 15%;"><h5>[developed by Rakesh Raushan]</h5></div>
        <img [src]="'assets/img/medicinelogo.png'" height="90" style="margin-left: 75%; margin-top: -17%;" width="120">
      </div>
      <div class="prescription-body">
        <hr>
        <div style="color: rgb(30, 113, 146); font-weight: bold;">Dr.{{ patient.doctorname }} MBBS,MS,PhD</div>
        <div style="color: black; font-weight: bold; margin-top: -5%; margin-left:70%;"><small
          style="color: rgb(9, 68, 70);"><b>PatientID : </b><b style="color: maroon;">{{ patient.patientid }}</b></small>
        </div>
        <div style="color: black; font-weight: bold;"><small style="color: rgb(9, 68, 70);"><b>Age : </b><b
          style="color: darkblue;">{{ patient.age }}</b></small></div>
        <div style="color: black; font-weight: bold; margin-top: -5%; margin-left:74.5%;"><small
          style="color: rgb(9, 68, 70);"><b>Date : </b><b style="color: darkblue;">{{ patient.date }}</b></small></div>
        <hr>
        <br>
        <div style="color: black; font-weight: 600;">Please find your respective treatment prescription from your
          doctor...
        </div>
        <br>
        <div style="color: darkblue; font-weight: 800; margin-bottom: 1%;">Patient Name : <b
          style="color: maroon; margin-left: 12%;">{{ patient.patientname }}</b></div>
        <div style="color: darkblue; font-weight: 800; margin-bottom: 1%;">Gender : <b
          style="color: maroon; margin-left: 22%;">{{ patient.gender }}</b></div>
        <div style="color: darkblue; font-weight: 800; margin-bottom: 1%;">Patient Disease : <b
          style="color: maroon; margin-left: 9%;">{{ patient.disease }}</b></div>
        <div style="color: darkblue; font-weight: 800; margin-bottom: 2%;">Prescription : <b
          style="color: maroon; margin-left: 14.5%;">{{ patient.prescription }}</b></div>
        <div style="color: darkblue; font-weight: 800; margin-bottom: 1%; ">Admission Status :
          <b *ngIf="patient.admissionstatus === 'false'" style="color: white; background-color: rgb(245, 168, 24); border-radius: 15px; padding: 5px 15px 5px 15px; margin-left: 6%;">
            Admission Pending
          </b>
          <b *ngIf="patient.admissionstatus === 'accept'" style="color: white; background-color: darkgreen; border-radius: 15px; padding: 5px 15px 5px 15px; margin-left: 6%;">
            Admitted
          </b>
          <b *ngIf="patient.admissionstatus === 'reject'" style="color: white; background-color: red; border-radius: 15px; padding: 5px 15px 5px 15px; margin-left: 6%;">R
            ejected
          </b>
        </div>
        <br><br>
        <div style="margin-left: 20%; font-weight: 600;">(Follow the above given prescriptions properly)</div>
        <div style="margin-left: 40%; font-weight: 600;">Get Well Soon !!!!</div>
      </div>
      <div class="footer-flag" style="padding: 15px; color: white; margin-bottom: 3%;">
        <div style="margin-left: 5%; float: left;"><h6><i class="fa fa-phone"></i> &nbsp;7903957869 / 9534491220</h6>
        </div>
        <div style="margin-right: 5%; float: right;"><h6><i class="fa fa-envelope"></i> &nbsp;sa721622gmail.com</h6></div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br>
<app-footer></app-footer>
