<app-header></app-header>

<div class="row" id="profilecard">
  <div *ngFor="let user of profileDetails | async" id="bloodCards">
    <a><img *ngIf="user.gender === 'Male' || user.gender === 'male'" [src]="'assets/img/maleuser.png'" class="bloodimg"
            height="120" width="120"></a>
    <a><img *ngIf="user.gender === 'Female' || user.gender === 'female'" [src]="'assets/img/femaleuser.png'"
            class="bloodimg" height="120" width="120"></a>
    <div class="card-block">
      <div class="text"><b style="color: navy;">User Name : </b><b class="element"
                                                                   style="margin-left: 53px;"> {{ user.username }}</b>
      </div>
      <div class="text"><b style="color: navy;">Mobile Number : </b><b class="element"
                                                                       style="margin-left: 12px;"> {{ user.mobile }}</b>
      </div>
      <div class="text"><b style="color: navy;">Gender : </b><b class="element"
                                                                style="margin-left: 80px;"> {{ user.gender }}</b></div>
      <div class="text"><b style="color: navy;">Mail ID : </b><b class="element"
                                                                 style="margin-left: 78px;"> {{ user.email }}</b></div>
      <div class="text"><b style="color: navy;">Age : </b><b class="element" style="margin-left: 110px;"> {{ user.age }}
        years</b></div>
      <div class="btndiv" style="align-items: center;">
        <button (click)="editProfile()" class="editbtn"><i class="fa fa-edit"></i> edit</button>
      </div>
      <small *ngIf="temp === true" id="message" style="text-align: center; margin-top: 3%; color: green;"><b>Profile
        Updated Successfully !!!</b></small>
    </div>
  </div>
</div>

<div class="container" id="profileform">
  <h3 class="textual">Update User Profile</h3>
  <form #Updateform="ngForm" (ngSubmit)="updateUserProfile()">
    <small *ngIf="temp === false" style="text-align: center; color: navy;"><b>Dear {{ loggedUser }}, update your profile
      here</b></small>
    <small *ngIf="temp === true" style="text-align: center; color: green;"><b>Profile Updated Successfully
      !!!</b></small>
    <div class="form-group">
      <label for="email">Email : <b class="text-danger">*</b></label>
      <input #email="ngModel" [(ngModel)]="user.email" [class.is-invalid]="email.invalid && email.touched" class="form-control" id="email" name="email"
             pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" placeholder="enter email" required
             type="email"
             value="user.email"
      >
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small *ngIf="email.errors.pattern" class="text-danger"><b>Invalid email Id</b></small>
      </div>
    </div>

    <div class="form-group">
      <label for="username">UserName: <b class="text-danger">*</b></label>
      <input #username="ngModel" [(ngModel)]="user.username" [class.is-invalid]="username.invalid && username.touched" class="form-control" name="username"
             placeholder="enter username" required
             type="text"
             value="user.username">
    </div>

    <div class="form-group">
      <label for="gender">Gender: <b class="text-danger">*</b></label>
      <select #gender="ngModel" [(ngModel)]="user.gender" class="form-control" id="sel1" name="gender" required
              value="user.gender">
        <option selected>Male</option>
        <option>Female</option>
        <option>Others</option>
      </select>
    </div>

    <div class="form-group">
      <label for="age">Age: <b class="text-danger">*</b></label>
      <input #age="ngModel" [(ngModel)]="user.age" [class.is-invalid]="age.invalid && age.touched" class="form-control" name="age"
             placeholder="enter your age" required
             type="number"
             value="user.age">
      <small [class.d-none]="age.valid || age.untouched" class="text-danger"><b>required field</b></small>
    </div>

    <div class="form-group">
      <label for="mobile">Mobile Number: <b class="text-danger">*</b></label>
      <input #mobile="ngModel" [(ngModel)]="user.mobile" [class.is-invalid]="mobile.invalid && mobile.touched" class="form-control" name="mobile"
             placeholder="enter mobile number" required
             type="tel"
             value="user.mobile">
    </div>

    <div class="form-group">
      <label for="pwd">Password: <b class="text-danger">*</b></label>
      <input #password="ngModel" [(ngModel)]="user.password" [class.is-invalid]="password.invalid && password.touched" class="form-control" name="pwd"
             placeholder="enter password" required
             type="password"
             value="user.password">
    </div>

    <button [disabled]="Updateform.form.invalid" class="btn registerbtn" type="submit">Update</button>
  </form>
</div>

<app-footer></app-footer>
