<app-header></app-header>

<div *ngIf="showProfileCard" class="row" id="profilecard">
  <div *ngFor="let doctor of profileDetails | async" id="bloodCards">
    <a><img *ngIf="doctor.gender === 'Male' || doctor.gender === 'male'" [src]="'assets/img/maledoctor.png'" class="bloodimg"
            height="140" style="margin-top: 2%;" width="130"></a>
    <a><img *ngIf="doctor.gender === 'Female' || doctor.gender === 'female'" [src]="'assets/img/femaledoctor.png'" class="bloodimg"
            height="140" style="margin-top: 2%;" width="130"></a>
    <div class="card-block">
      <div class="text">
        <b style="color: navy;">Doctor Name : </b>
        <b class="element" style="margin-left: 57px;"> {{ doctor.doctorname }}</b>
      </div>
      <div class="text"><b style="color: navy;">Mobile Number : </b><b class="element" style="margin-left: 35px;"> {{ doctor.mobile }}</b>
      </div>
      <div class="text"><b style="color: navy;">Gender : </b><b class="element" style="margin-left: 102px;"> {{ doctor.gender }}</b>
      </div>
      <div class="text"><b style="color: navy;">Experience : </b><b class="element" style="margin-left: 73px;"> {{ doctor.experience }}
        years</b></div>
      <div class="text"><b style="color: navy;">Specialization : </b><b class="element" style="margin-left: 50px;"> {{ doctor.specialization }}</b>
      </div>
      <div class="text"><b style="color: navy;">Previous Hospital : </b><b class="element" style="margin-left: 21px;"> {{ doctor.previoushospital }}
        hospital</b></div>
      <div class="text"><b style="color: navy;">Mail ID : </b><b class="element" style="margin-left: 102px;"> {{ doctor.email }}</b>
      </div>
      <div class="btndiv" style="align-items: center;">
        <button (click)="editProfile()" *ngIf="showEditButton" class="editbtn"><i class="fa fa-edit"></i> edit</button>
      </div>
      <small *ngIf="showMessage" id="message" style="text-align: center; margin-top: 3%; color: green;">
        <b>Profile Updated Successfully !!!</b></small>
    </div>
  </div>
</div>

<div *ngIf="showProfileForm" class="container" id="profileform">
  <h3 class="textual">Update Doctor Profile</h3>
  <form #Updateform="ngForm" (ngSubmit)="updateDoctorProfile()">
    <small *ngIf="!showMessage" style="text-align: center; color: navy;"><b>Dear {{ loggedUser }}, update your profile
      here</b></small>
    <small *ngIf="showMessage" style="text-align: center; color: green;"><b>Profile Updated Successfully
      !!!</b></small>
    <div class="form-group">
      <label for="email">Email : <b class="text-danger">*</b></label>
      <input #email="ngModel" [(ngModel)]="doctor.email" [class.is-invalid]="email.invalid && email.touched" class="form-control" id="email" name="email"
             pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" placeholder="enter email" required
             type="email"
             value="doctor.email">
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small *ngIf="email.errors.pattern" class="text-danger"><b>Invalid email Id</b></small>
        <small *ngIf="email.errors.required" class="text-danger"><b>required field</b></small>
      </div>
    </div>

    <div class="form-group">
      <label for="doctorname">Doctor Name: <b class="text-danger">*</b></label>
      <input #doctorname="ngModel" [(ngModel)]="doctor.doctorname" [class.is-invalid]="doctorname.invalid && doctorname.touched" class="form-control"
             name="doctorname" placeholder="enter doctor name" required
             type="text"
             value="doctor.doctorname">
      <small [class.d-none]="doctorname.valid || doctorname.untouched" class="text-danger"><b>required field</b></small>
    </div>

    <div class="form-group">
      <label for="gender">Gender: <b class="text-danger">*</b></label>
      <select #gender="ngModel" [(ngModel)]="doctor.gender" class="form-control" id="sel1" name="gender" required
              value="doctor.gender">
        <option selected>Male</option>
        <option>Female</option>
        <option>Others</option>
      </select>
    </div>

    <div class="form-group">
      <label for="mobile">Mobile Number: <b class="text-danger">*</b></label>
      <input #mobile="ngModel" [(ngModel)]="doctor.mobile" [class.is-invalid]="mobile.invalid && mobile.touched" class="form-control" name="mobile"
             placeholder="enter mobile number" required
             type="tel"
             value="doctor.mobile">
      <small [class.d-none]="mobile.valid || mobile.untouched" class="text-danger"><b>required field</b></small>
    </div>

    <div class="form-group">
      <label for="experience">Experience : <b class="text-danger">*</b></label>
      <input #experience="ngModel" [(ngModel)]="doctor.experience" [class.is-invalid]="experience.invalid && experience.touched" class="form-control"
             name="experience" placeholder="enter experience (in years)" required
             type="text"
             value="doctor.experience">
      <small [class.d-none]="experience.valid || experience.untouched" class="text-danger"><b>required field</b></small>
    </div>

    <div class="form-group">
      <label for="specialization">Specialization : <b class="text-danger">*</b></label>
      <input #specialization="ngModel" [(ngModel)]="doctor.specialization" [class.is-invalid]="specialization.invalid && specialization.touched" class="form-control"
             name="specialization" placeholder="enter your specialization" required
             type="text"
             value="doctor.specialization">
      <small [class.d-none]="specialization.valid || specialization.untouched" class="text-danger"><b>required field</b></small>
    </div>

    <div class="form-group">
      <label for="previoushospital">Previous Working Hospital : <b class="text-danger">*</b></label>
      <input #previoushospital="ngModel" [(ngModel)]="doctor.previoushospital" [class.is-invalid]="previoushospital.invalid && previoushospital.touched"
             class="form-control" name="previoushospital" placeholder="enter your previous working hospital" required
             type="text"
             value="doctor.previoushospital">
      <small [class.d-none]="previoushospital.valid || previoushospital.untouched" class="text-danger"><b>required
        field</b></small>
    </div>

    <div class="form-group">
      <label for="address">Address : <b class="text-danger">*</b></label>
      <input #address="ngModel" [(ngModel)]="doctor.address" [class.is-invalid]="address.invalid && address.touched" class="form-control" name="address"
             placeholder="enter your address" required
             type="text"
             value="doctor.address">
      <small [class.d-none]="address.valid || address.untouched" class="text-danger"><b>required field</b></small>
    </div>

    <div class="form-group">
      <label for="pwd">Password: <b class="text-danger">*</b></label>
      <input #password="ngModel" [(ngModel)]="doctor.password" [class.is-invalid]="password.invalid && password.touched" class="form-control" name="pwd"
             placeholder="enter password" required
             type="password"
             value="doctor.password">
      <small [class.d-none]="password.valid || password.untouched" class="text-danger"><b>required field</b></small>
    </div>

    <button [disabled]="Updateform.form.invalid" class="btn registerbtn" type="submit">Update</button>
  </form>
</div>

<app-footer></app-footer>
