<!--<div class="sidebar-logo">
    <div class="welcometxt" style="float: left;"><b style="color: white;">{{title}}</b></div>
      <button class="logoutbtn" style="color: whitesmoke; margin-right: 1%; font-weight: 600;" (click)="navigateHome()"><i class="fa fa-home"></i> Home</button>
      <small class="sidebar-text" style="color: whitesmoke; font-weight: 600;"><i class="fa fa-user"></i> {{loggedUser}}</small>
      <button class="logoutbtn" style="color: whitesmoke; font-weight: 600;" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
</div>-->

<!--
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" class="navCss"  [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand">{{title}}</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a id="nav-link" class="nav-link waves-light" mdbWavesEffect (click)="navigateHome()"><i class="fa fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect> Welcome {{loggedUser}}</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a id="nav-link" dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <i class="fa fa-user"></i> Profile<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a> {{currRole}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()"><i class="fa fa-sign-out"></i> Log out</a>
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>Home</button>
      <ng-template ngbNavContent>
        <!--      <p>-->
        <!--        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth-->
        <!--        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro-->
        <!--        keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat-->
        <!--        salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.-->
        <!--      </p>-->
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Welcome {{loggedUser}}</button>
      <ng-template ngbNavContent>
        <!--      <p>-->
        <!--        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko-->
        <!--        farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts-->
        <!--        ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar-->
        <!--        helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson-->
        <!--        8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester-->
        <!--        stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.-->
        <!--      </p>-->
      </ng-template>
    </li>
    <li ngbDropdown class="nav-item" role="presentation">
      <button type="button" class="nav-link" ngbDropdownToggle>Profile<span class="caret"></span></button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>{{currRole}}<</button>
        <button ngbDropdownItem (click)="logout()"><i class="fa fa-sign-out"></i> Log out</button>
      </div>
    </li>
  </ul>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
