<app-header></app-header>

<div class="container">
  <h2 class="textual"><i class="fa fa-user-md"></i> New Doctor </h2>
  <small style="color:rgb(179, 11, 11); font-weight: bold;">On adding a doctor, he will be approved to work in the
    Healthcare System by default</small>
  <form #addDoctorform="ngForm" (ngSubmit)="addDoctor()">

    <div class="form-group">
      <label for="doctorname">Doctor Name: <b class="text-danger">*</b></label>
      <input #doctorname="ngModel" [(ngModel)]="doctor.doctorname" [class.is-invalid]="doctorname.invalid && doctorname.touched" class="form-control"
             name="doctorname" placeholder="enter doctor name"
             required
             type="text">
      <small [class.d-none]="doctorname.valid || doctorname.untouched" class="text-danger"><b>required field</b></small>
    </div>
    <small style="color: gray; font-size: 10px;">Please enter full name of the doctor with initial</small>

    <div class="form-group">
      <label for="email">Doctor Email address: <b class="text-danger">*</b></label>
      <input #email="ngModel" [(ngModel)]="doctor.email" [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email"
             pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" placeholder="enter email address"
             required
             type="email">
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small *ngIf="email.errors.required" class="text-danger"><b>required field</b></small>
        <small *ngIf="email.errors.pattern" class="text-danger"><b>Invalid email Id</b></small>
      </div>
    </div>

    <div class="form-group">
      <label for="mobile">Doctor Mobile Number: <b class="text-danger">*</b></label>
      <input #mobile="ngModel" [(ngModel)]="doctor.mobile" [class.is-invalid]="mobile.invalid && mobile.touched" class="form-control" name="mobile"
             placeholder="enter mobile number"
             required
             type="tel">
      <small [class.d-none]="mobile.valid || mobile.untouched" class="text-danger"><b>required field</b></small>
    </div>
    <small style="color: gray; font-size: 10px;">Please enter 10 digit valid mobile number</small>

    <div class="form-group">
      <label for="gender">Doctor Gender: <b class="text-danger">*</b></label>
      <select #gender="ngModel" [(ngModel)]="doctor.gender" class="form-control" id="sel1"
              name="gender">
        <option selected>Male</option>
        <option>Female</option>
        <option>Others</option>
      </select>
    </div>

    <div class="form-group">
      <label for="experience">Doctor Experience: <b class="text-danger">*</b></label>
      <input #experience="ngModel" [(ngModel)]="doctor.experience" [class.is-invalid]="experience.invalid && experience.touched" class="form-control"
             name="experience" placeholder="enter experience (in years)"
             required
             type="number">
      <small [class.d-none]="experience.valid || experience.untouched" class="text-danger"><b>required field</b></small>
    </div>
    <small style="color: rgb(179, 11, 11); font-size: 10px; font-weight: bold;">Should have a minimum experience of 3
      years</small>

    <div class="form-group">
      <label for="specialization">Doctor Specialization: <b class="text-danger">*</b></label>
      <input #specialization="ngModel" [(ngModel)]="doctor.specialization" [class.is-invalid]="specialization.invalid && specialization.touched" class="form-control"
             name="specialization" placeholder="enter specialization"
             required
             type="text">
      <small [class.d-none]="specialization.valid || specialization.untouched" class="text-danger"><b>required field</b></small>
    </div>
    <small style="color: gray; font-size: 10px;">Please mention his/her specialization (eg: Cardiologist,
      Gynacologist)</small>

    <div class="form-group">
      <label for="previoushospital">Doctor's Previous Hospital: <b class="text-danger">*</b></label>
      <input #previoushospital="ngModel" [(ngModel)]="doctor.previoushospital" [class.is-invalid]="previoushospital.invalid && previoushospital.touched" class="form-control"
             name="previoushospital" placeholder="enter previous working hospital"
             required
             type="text">
      <small [class.d-none]="previoushospital.valid || previoushospital.untouched" class="text-danger"><b>required
        field</b></small>
    </div>

    <div class="form-group">
      <label for="address">Doctor Address: <b class="text-danger">*</b></label>
      <input #address="ngModel" [(ngModel)]="doctor.address" [class.is-invalid]="address.invalid && address.touched" class="form-control"
             name="address" placeholder="enter doctor address"
             required
             type="text">
      <small [class.d-none]="address.valid || address.untouched" class="text-danger"><b>required field</b></small>
    </div>
    <small style="color: gray; font-size: 10px;">Please mention proper donor address for reference purpose</small>

    <div class="form-group">
      <input #doctorpassword="ngModel" [(ngModel)]="doctor.password" [class.is-invalid]="doctorpassword.invalid && doctorpassword.touched" class="form-control" name="pwd"
             placeholder="password *"
             required
             type="password">
      <div *ngIf="doctorpassword.errors && doctorpassword.invalid && doctorpassword.touched"
           style="margin-top: -4%; margin-bottom: 3%;">
        <small *ngIf="doctorpassword.errors.required" class="text-danger"><b>required field</b></small>
      </div>
      <small style="color: gray; font-size: 10px;">use "1234" as temporary password for now and inform doctor to update
        password later</small>
    </div>

    <div class="checkbox" style="margin-top: 5px;">
      <small style="color: gray;"><input name="remember" required type="checkbox"> Is he/she is an Authorized Doctor
      </small><small style="color:rgb(179, 11, 11); font-weight: bold;"> (adding proxy doctors is against to
      management's T&C !!!)</small>
    </div>
    <button [disabled]="addDoctorform.form.invalid" class="btn registerbtn" style="margin-top: 15px;" type="submit"><i
      class="fa fa-plus"></i>&nbsp; Add Doctor
    </button>
  </form>
</div>

<app-footer></app-footer>
