<app-header></app-header>
<button class='menuToggle' [ngClass]="{'menuToggle_open': menuOpened}"  (click)="handleMenuToggled()">
  &#9776;
</button>
<div class="menu" [ngClass]="{'hideMenu': menuOpened}">
  <ul>
    <li>
      <div class="card" style="width:200px; background-color: #23ad9b;">
        <div id="userimg" style="width:150px;">
          <img *ngIf="gender === 'male' || gender === 'Male'" [src]="'assets/img/maleuser.png'" alt="Card image"
               class="card-img-top" style="width:100%">
          <img *ngIf="gender === 'female' || gender === 'Female'" [src]="'assets/img/femaleuser.png'"
               alt="Card image" class="card-img-top" style="width:100%">
        </div>
        <div class="card-body" style="margin-left: auto; margin-right: auto;">
          <h4 class="card-title" style="font-weight: bolder;"><b>{{ name }}</b></h4>
        </div>
      </div>
    </li>
    <li>
      <a><i aria-hidden="true" class="fa fa-edit"></i><label [routerLink]="['/edituserprofile']"
                                                             style="cursor: pointer;">&nbsp; Edit Profile</label></a>
    </li>
    <li>
      <a><i aria-hidden="true" class="fa fa-user-md"></i><label [routerLink]="['/doctorlist']" style="cursor: pointer;">&nbsp;
        Doctor List</label></a>
    </li>
    <li>
      <a><i aria-hidden="true" class="fa fa-clock-o"></i><label [routerLink]="['/checkslots']" style="cursor: pointer;">&nbsp;
        Check Slots</label></a>
    </li>
    <li>
      <a>
        <i aria-hidden="true" class="fa fa-calendar"></i>
        <label [routerLink]="['/bookappointment']" style="cursor: pointer;">&nbsp; New Appointment</label>
      </a>
    </li>
    <li>
      <a>
        <i aria-hidden="true" class="fa fa-check"></i>
        <label [routerLink]="['/approvalstatus']" style="cursor: pointer;">&nbsp; Approval status</label>
      </a>
    </li>
    <li>
      <a>
        <i aria-hidden="true" class="fa fa-sticky-note-o"></i>
        <label [routerLink]="['/prescriptionlist']" style="cursor: pointer;">&nbsp; Your Prescription</label>
      </a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div
      style="color: maroon; font-weight: bolder; font-family: aladin; letter-spacing: 1px; font-size: 40px; margin: 0% 0% 1% 9%;">
      <b>Welcome to Smart HealthCare System User Dashboard</b></div>
    <div style="color: darkgreen; font-weight: bold; font-size: 22px; margin: 0% 0% 2% 33%;"><b>[Author - Rakesh
      Raushan]</b></div>
    <div class="dashboard-card">
      <div class="circle"><i class="fa fa-user-md" id="icons"></i></div>
      <div class="text">Total Doctors</div>
      <div *ngFor="let doctor of doctors | async" class="sub-text">{{ doctor }} doctors</div>
    </div>
    <div class="dashboard-card" style="background-color: rgb(151, 85, 23);">
      <div class="circle"><i class="fa fa-user" id="icons"></i></div>
      <div class="text">Total Users</div>
      <div *ngFor="let user of users | async" class="sub-text">{{ user }} users</div>
    </div>
    <div class="dashboard-card" style="background-color: rgb(173, 55, 55);">
      <div class="circle"><i class="fa fa-user-o" id="icons"></i></div>
      <div class="text">Total Patients</div>
      <div *ngFor="let patient of patients | async" class="sub-text">{{ patient }} patients</div>
    </div>
    <div class="dashboard-card" style="background-color: rgb(24, 88, 32);">
      <div class="circle"><i class="fa fa-calendar" id="icons"></i></div>
      <div class="text">Total Slots</div>
      <div *ngFor="let slot of slots | async" class="sub-text">{{ slot }} slots available</div>
    </div>
  </div>
</div>

<br><br><br><br>
<app-footer></app-footer>
